.container-LR {
    background-color: $lightGray;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    background-color: #f2f5f7;

    width: 19rem;
    padding: 2.5rem 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0px 5px 12px 2px rgba(0, 0, 0, 0.35) ;

    .title-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 2rem;
            text-align: center;
            color: $cyan;
        }

        a {
            text-align: right;
        }

        img {
            max-width: 60%;
        }
    }

    
    .input-group {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
            margin-bottom: 0.4rem;
            color: $cyan;

            i {
                margin-right: .2rem;
            }
        }

        .input-field {
            padding: 0.5rem;
            width: 100%;
            border-radius: 6px;
            border: none;
            

            &:focus {
                outline: 2px solid $cyan;
            }
        }

        .icon-eyesPassword {
            background-image: url('../../images/eyesVisible.png');
            background-size: cover;
            width: 25px;
            height: 25px;
            cursor: pointer;

            position: absolute;
            right: 2%;
            top: 55%;
            cursor: pointer;

            &.hide {
                background-image: url('../../images/eyesHide.png');
            }
        }
    }

    .btn-enter {
        border: none;
        border-radius: 8px;
        background-color: $cyan;
        padding: 0.6rem 1.4rem;
        width: 40%;
        margin: 0 auto;
        font-size: 1rem;
        cursor: pointer;
        transition: all .4s;
        margin-bottom: 0.6rem;
        color: #fff;

        &:hover {
            background-color: #63c4b3;
            color: #000;
        }
    }

    .no-account {
        border-top: 2px solid #ccc;
        padding: 1rem 0;

        display: flex;
        justify-content: space-between;
        gap: .6rem;

        a {
            transition: all .4s;

            &:hover {
                color: #000;
            }
        }
    }
}

@media (min-width: 375px) {
    .form {
        width: 22rem;
    }
}

@media (min-width: 768px) {
    .form {
        width: 30rem;

        .title-group img {
            max-width: 75%;
        }
    }

}